CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
build
ESP32Code/build
ESP32Code/.vscode
ESP32Code/.devcontainer
sdkconfig*
pytest*
*.yml
managed_components*
ESP32Code/README*
dependencies.lock
.vscode
